body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -2;
  max-width: 100%;
  overflow-x: hidden;
}

.entre-header {
  width: 103vw;
  margin-left: -1vw;
  margin-right: -2vw;
  margin-bottom: -1.1vw;
  margin-top: -0.1vw;
}

.entre-logo {
  width: 14%;
  position: absolute;
  top: 2.8vw;
  left: 3%;
}

.entre-topbar {
  position: absolute;
  top: 13.2vw;
  left: 3%;
}

.entre-toplink {
  font-family: source sans pro, sans-serif;
  font-weight: 300;
  font-size: 3vw;
  text-decoration: none;
  color: #F6EE5F;
  margin-right: 5vw;
}

.entre-toplink:visited {
  text-decoration: none;
}

.entre-toplink.main {
  font-weight: 600;
  font-size: 5vw;
  color: #F6EE5F;
  position: relative;
  z-index: 1;
}

.entre-toplink.mainShadow {
  font-weight: 600;
  font-size: 5vw;
  position: absolute;
  color: #D53A7D;
  margin-left: 0.5vw;
  margin-top: -0.5vw;
}








.entre-spine {
  background-color: #F0EFEF;
  width: 70%;
  margin-left: 15%;
  position: relative;
  z-index: -1;
}

.entre-featured {
  margin-left: -15%;
  width: 130%;
  padding-top: 3.5vw;
}

.entre-featuredLeft {
  display: inline-block;
  vertical-align: top;
  width: 34vw;
  margin: 0;
}

.entre-featuredRight {
  display: inline-block;
  vertical-align: top;
  padding-left: 1.5vw;
  width: 55vw;
  height: 24.75vw;
}

.entre-mainImg {
  width: 33vw;
  position: relative;
  z-index: 1;
}

.entre-mainImgShadow {
  width: 33vw;
  height: 24.75vw;
  background-color: #617077;
  position: absolute;
  margin: 1vw 0vw 0vw 1vw;
}



.entre-featuredIndicator {
  font-family: source sans pro, sans-serif;
  font-weight: 600;
  font-size: 1.45vw;
  color: #684899;
  margin-top: 0.55vw;
}

.entre-featuredTitle {
  font-family: source sans pro, sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  margin-top: -3.7vw;
  margin-bottom: 0;
  position: relative;
  left: -0.18vw;
}

.entre-featuredParagraph {
  font-family: proxima nova, sans-serif;
  font-size: 1.8vw;
  font-weight: 300;
  margin-top: 2vw;
  height: 12.23vw;
  text-align: justify;
}

.entre-featuredLink {
  position: absolute;
  font-family: proxima nova, sans-serif;
  font-size: 1.8vw;
  font-weight: 300;
  color: white;
  background-color: #684899;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  border-radius: 0.3vw;
  text-decoration: none;
}

.entre-featuredLink:hover {
  background-color: #7a5aad;
  transition: 0.5s;
}



.entre-row {
  margin-left: -10.5vw;
  width: 91vw;
  padding-top: 4.5vw;
}

.entre-cell {
  width: 30%;
  margin-right: 4.74%;
  display: inline-block;
  vertical-align: top;
}

.entre-cell.last {
  margin-right: 0%;
}

.entre-cellImg {
  width: 26.5vw;
  position: relative;
  z-index: 1;
}

.entre-cellImgShadow {
  width: 26.5vw;
  height: 19.875vw;
  position: absolute;
  margin-left: 0.8vw;
  margin-top: 0.8vw;
  background-color: #617077;
}

.entre-cellTitle {
  font-family: source sans pro, sans-serif;
  font-weight: 600;
  font-size: 2.3vw;
  margin-bottom: 0;
  position: relative;
  left: -0.1vw;
}

.entre-cellParagraph {
  font-family: proxima nova, sans-serif;
  font-size: 1.3vw;
  margin-top: 1vw;
  height: 7vw;
  text-align: justify;
}

.entre-cellLink {
  font-family: proxima nova, sans-serif;
  font-size: 1.3vw;
  color: white;
  background-color: #684899;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  border-radius: 0.3vw;
  text-decoration: none;
}

.entre-cellLink:hover {
  background-color: #7a5aad;
  transition: 0.5s;
}







.entre-skills {
  width: 100vw;
  margin-left: -15vw;
  background-color: #323638;
  margin-top: 8vw;
  padding: 3vw;
}

.entre-skillsTitle {
  font-family: source sans pro, sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  margin: 0;
  margin-left: 1vw;
  margin-bottom: 1vw;
  color: white;
  position: relative;
}

.entre-skillsBar {
  width: 90vw;
  background-color: white;
  padding: 0;
  padding: 0;
  margin: 1vw 0vw 0vw 1vw;
  border-radius: 0.3vw;
}

.entre-skillsBarIn {
  background: rgb(67,43,103);
  background: linear-gradient(90deg, rgba(67,43,103,1) 0%, rgba(104,72,153,1) 100%);
  margin: 0;
  position: inline-block;
  padding: 0.02vw 1vw 0.02vw 1vw;
  border-radius: 0.3vw;
}

.a1 {
  width: 90vw;
}

.a2 {
  width: 90vw;
}

.a3 {
  width: 90vw;
}

.a4 {
  width: 90vw;
}

.entre-skillsBarText {
  color: white;
  font-family: proxima nova, sans-serif;
  font-weight: 600;
  font-size: 1vw;
  display: inline-block;
}

.entre-skillsBarHighlight {
  font-weight: 300;
}

.entre-skillsBarYears {
  color: rgb(67,43,103);
  display: inline-block;
  font-family: proxima nova, sans-serif;
  font-weight: 600;
  font-size: 1vw;
  float: right;
}






.entre-contact {
  width: 100vw;
  margin-left: -15vw;
  padding: 3vw;
  padding-bottom: 20vw;
}

.entre-contactTitle {
  font-family: source sans pro, sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  margin: 0;
  margin-left: 1vw;
  margin-bottom: 2vw;
  color: #323638;
  position: relative;
}

.entre-contactParagraph {
  font-family: proxima nova, sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  margin: 0;
  margin-left: 1.2vw;
  color: #323638;
  position: relative;
}

.entre-contactLink {
  cursor: pointer;
  text-decoration: none;
  color: #4b5e68;
}

.entre-contactLink:hover {
  color: #323638;
}






.l1 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: .1vw;
  height: 32.8vw;
  left: -10.5vw;
}

.l2 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: .05vw;
  height: 32.8vw;
}

.l3 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: .05vw;
  height: 32.8vw;
  left: 23.5vw;
}

.l4 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: .05vw;
  height: 32.8vw;
  left: 25.25vw;
}

.l5 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: .05vw;
  height: 32.8vw;
  left: 70vw;
}

.l6 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: .05vw;
  height: 33.7vw;
  left: 80.4vw;
}

.l7 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 4.45vw;
}

.l8 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 5.45vw;
}

.l9 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 8.1vw;
}

.l10 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 11.4vw;
}

.l11 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 19.3vw;
}

.l12 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 25vw;
}

.l13 {
  background-color: black;
  opacity: 0.25;
  position: absolute;
  width: 100vw;
  height: 0.05vw;
  left: -15vw;
  top: 28.25vw;
}






























/**/
