.About {
  &-bg {
    background-color: #dddede;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 1s;

    opacity: 1;
    display: block;
    animation: aboutOpen 1s ease 0s;

    @keyframes aboutOpen {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &.close {
      opacity: 0;
    }

    &.destroy {
      display: none !important;
    }
  }

  &-title {
    margin: 0;
    position: absolute;
    top: calc(14.8vh - 5.5vw);
    left: 15vw;
    color: #231f20;

    font: {
      family: source-sans-pro, sans-serif;
      weight: 700;
      size: 5.5vw;
    }

    clip-path: inset(0vh 50vw 0vh 0vw);
    animation: aboutOpenTitle 1s ease 0.6s;
    animation-fill-mode: forwards;

    @keyframes aboutOpenTitle {
      0% {
        clip-path: inset(0vh 50vw 0vh 0vw);
      }

      100% {
        clip-path: inset(0vh 0vw 0vh 0vw);
      }
    }
  }

  &-p {
    margin: 0;
    position: absolute;
    top: 14.6vh;
    left: 15vw;
    right: 15vw;
    text-align: justify;
    color: #231f20;

    font: {
      family: proxima nova, sans-serif;
      weight: 300;
      size: 1.8vw;
    }

    opacity: 0;
    animation: aboutOpenP 1s ease 1.9s;
    animation-fill-mode: forwards;

    @keyframes aboutOpenP {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &.contact {
      top: 38vh;
    }
  }

  &-link {
    text-decoration: none;
    color: #231f20;
  }

  &-img {
    position: absolute;
    height: 27.7vh;
    right: 15vw;
    top: calc(30vh + 22.65vw);
    top: -webkit-calc(30vh + 22.65vw);
    top: -moz-calc(30vh + 22.65vw);
    height: calc(70vh - 22.65vw);
    height: -webkit-calc(70vh - 22.65vw);
    height: -moz-calc(70vh - 22.65vw);

    clip-path: inset(0vh 42vw 0vh 0vw);
    animation: aboutOpenImg 1s ease 1.3s;
    animation-fill-mode: forwards;

    @keyframes aboutOpenImg {
      0% {
        clip-path: inset(0vh 42vw 0vh 0vw);
      }

      100% {
        clip-path: inset(0vh 0vw 0vh 0vw);
      }
    }
  }

  &-x {
    margin: 0;
    position: absolute;
    left: 95vw;
    top: calc(10vh - 2.5vw);
    cursor: pointer;
    transition: 0.75s;
    color: #6d6d6d;

    font: {
      family: source-sans-pro, sans-serif;
      weight: 700;
      size: 2.5vw;
    }

    &:hover {
      color: black;
    }

    opacity: 0;
    animation: aboutOpenX 1s ease 2.5s;
    animation-fill-mode: forwards;

    @keyframes aboutOpenX {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }







  /*START LINES CSS*/

  &-basicLine {
    /*Top full bar*/
    &1 {
      height: .1vw;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 15vh;

      clip-path: inset(0vh 100vw 0vh 0vw);
      animation: initialLine1 1.5s ease 0.5s;
      animation-fill-mode: forwards;

      @keyframes initialLine1 {
        0% {
          clip-path: inset(0vh 100vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Bottom full bar*/
    &2 {
      height: .1vw;
      width: 100%;
      background-color: black;
      position: absolute;
      top: calc(30vh + 22.65vw);
      top: -webkit-calc(30vh + 22.65vw);
      top: -moz-calc(30vh + 22.65vw);

      clip-path: inset(0vh 100vw 0vh 0vw);
      animation: initialLine2 1.5s ease 1s;
      animation-fill-mode: forwards;

      @keyframes initialLine2 {
        0% {
          clip-path: inset(0vh 100vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Left full bar*/
    &3 {
      height: 100%;
      width: .1vw;
      background-color: black;
      position: absolute;
      top: 0vw;
      left: 15vw;

      clip-path: inset(0vh 0vw 100vh 0vw);
      animation: initialLine3 1.5s ease 0.7s;
      animation-fill-mode: forwards;

      @keyframes initialLine3 {
        0% {
          clip-path: inset(0vh 0vw 100vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Right full bar*/
    &4 {
      height: 100%;
      width: .1vw;
      background-color: black;
      position: absolute;
      top: 0vw;
      left: 85vw;

      clip-path: inset(100vh 0vw 0vh 0vw);
      animation: initialLine4 1.5s ease 1.3s;
      animation-fill-mode: forwards;

      @keyframes initialLine4 {
        0% {
          clip-path: inset(100vh 0vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }
  }

  /*END LINES CSS*/
}
