.Hover {
  &-bg {
    &1 {
      margin-top: -15vh;
      padding: 0;
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: 5;
      background-color: #323638;
      text-align: justify;

      &.a {
        opacity: 0;
        animation: hoverAppear1 1s ease 0s;
        animation-fill-mode: forwards;

        @keyframes hoverAppear1 {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    &2 {
      margin-top: -15vh;
      padding: 0;
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: 5;
      background-color: #2975b1;

      &.a {
        opacity: 0;
        animation: hoverAppear2 1s ease 0s;
        animation-fill-mode: forwards;

        @keyframes hoverAppear2 {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    &3 {
      margin-top: -15vh;
      padding: 0;
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: 5;
      background-color: #efe8f0;

      &.a {
        opacity: 0;
        animation: hoverAppear3 1s ease 0s;
        animation-fill-mode: forwards;

        @keyframes hoverAppear3 {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }



  &-backText {
    color: white;
    width: 100%;
    position: absolute;

    &.back1 {
      opacity: 0.03;
      margin: -1.5vw;
      margin-top: -6vh;

      font: {
        family: proxima nova, sans-serif;
        weight: 700;
        size: 43vw;
      }
    }

    &.back2 {
      opacity: 0.1;
      margin: -2.5vw;
      margin-top: 5vh;

      font: {
        family: proxima nova, sans-serif;
        weight: 700;
        size: 33vw;
      }
    }

    &.back3 {
      opacity: 0.52;
      margin: -2.5vw;
      margin-top: 9vh;

      font: {
        family: proxima nova, sans-serif;
        weight: 700;
        size: 29vw;
      }
    }
  }

  &-basicLogo {
    width: 70vw;
    opacity: 0;
    position: absolute;
    top: 30vh;
    left: 15vw;
    transition: 1s;
    z-index: 2;

    animation: hoverLogo 1s ease 0s;
    animation-fill-mode: forwards;

    @keyframes hoverLogo {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &2 {
      width: 70vw;
      opacity: 1;
      position: absolute;
      top: 30vh;
      left: 15vw;
    }
  }
}
