html, body {
  height: 100%;
  overflow: hidden;
}

.App {
  margin: 0px;
  padding: 0px;

  &-basicBackground {
    width: 70vw;
    height: 85vh;
    margin-top: 15vh;
    margin-left: 15vw;
    background-color: #F0EFEF;
    animation: initialBackground 1.5s ease 0s;

    @keyframes initialBackground {
      0% {
        height: 0vh;
        margin-top: 100vh;
      }

      100% {
        height: 85vh;
        margin-top: 15vh;
      }
    }
  }

  &-basicLogo {
    width: 70vw;
    margin-top: 15vh;
    opacity: 0;
    position: absolute;
    animation: initialLogo 2.5s ease 1.5s;
    animation-fill-mode: forwards;

    @keyframes initialLogo {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &-topLinks {
    position: absolute;
    z-index: 9;
    top: 2vw;
    left: 15vw;
  }

  &-link {
    margin-right: 3vw;
    color: #6D6D6D;
    cursor: pointer;
    transition: 1s;

    font: {
      family: source sans pro, sans-serif;
      weight: 300;
      size: 2.5vw;
    }

    &:hover {
      color: black;
    }

    &.first {
      opacity: 0;
      animation: initialLinks 1s ease 1.6s;
      animation-fill-mode: forwards;

      @keyframes initialLinks {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &.mid {
      opacity: 0;
      animation: initialLinks 1s ease 1.7s;
      animation-fill-mode: forwards;

      @keyframes initialLinks {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &.last {
      opacity: 0;
      animation: initialLinks 1s ease 1.8s;
      animation-fill-mode: forwards;

      @keyframes initialLinks {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &.top1 {
      color: white;
    }

    &.top2 {
      color: white;
    }

    &.top3 {
      color: black;
    }
  }

  &-hoverHere {
    position: absolute;
    top: 78vh;
    left: 9vw;
    color: #6D6D6D;
    transition: 0.25s;

    font: {
      family: source sans, sans-serif;
      weight: 300;
      size: 1.5vw;
    }

    &Img  {
      height: 1vw;
      position: relative;
      top: 0.5vh;
      left: 0.3vw;
    }

    &.none {
      animation-fill-mode: backwards;
      opacity: 0;
    }

    opacity: 0;
    animation: initialHoverHere 1s ease 3.5s;
    animation-fill-mode: forwards;

    @keyframes initialHoverHere {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &-bottomLinks {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    z-index: 9;

    top: 100vh;
    animation: initialBottomLinks 1s ease 2.5s;
    animation-fill-mode: forwards;

    @keyframes initialBottomLinks {
      0% {
        top: 100vh;
      }

      100% {
        top: 84vh;
      }
    }

    &Overlay {
      position: absolute;
      z-index: 8;
      top: 84vh;
      width: 100%;
      text-align: center;
    }
  }

  &-hoverLink {
    margin-right: 12vw;
    cursor: pointer;
    transition: 1s;
    color: white;
    position: relative;
    top: 0px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

    font: {
      family: gill-sans-nova, sans-serif;
      weight: 500;
      style: italic;
      size: 3.5vw;
    }

    &.last {
      margin-right: 0vw;
    }

    &.passive1 {
      opacity: 1;
      text-shadow:
        -1px -1px 0 #8fcfad,
        1px -1px 0 #8fcfad,
        -1px 1px 0 #8fcfad,
        1px 1px 0 #8fcfad;
        color: #323638;
    }

    &.passive2 {
      opacity: 1;
      text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
        color: #2975b1;
    }

    &.passive3 {
      opacity: 1;
      text-shadow:
        -1px -1px 0 #df2380,
        1px -1px 0 #df2380,
        -1px 1px 0 #df2380,
        1px 1px 0 #df2380;
        color: #efe8f0;
    }

    &.hover1 {
      opacity: 1;
      top: -5vh;
      color: #8fcfad;
      text-shadow: none;
    }

    &.hover2 {
      opacity: 1;
      top: -5vh;
      color: #fff;
      text-shadow: none;
    }

    &.hover3 {
      opacity: 1;
      top: -5vh;
      color: #df2380;
      text-shadow: none;
    }

    &Overlay {
      margin-right: 12vw;
      cursor: pointer;
      transition: 1s;
      color: black;
      position: relative;
      top: 0px;
      clip-path: inset(4vw 0vw 0vh 0vw);

      font: {
        family: gill-sans-nova, sans-serif;
        weight: 500;
        style: italic;
        size: 3.5vw;
      }

      &.last {
        margin-right: 0vw;
      }

      &.hover1 {
        opacity: 1;
        color: #8fcfad;
        clip-path: inset(0vh 0vw 0vh 0vw);
        top: -5vh;
      }

      &.hover2 {
        opacity: 1;
        color: #fff;
        clip-path: inset(0vh 0vw 0vh 0vw);
        top: -5vh;
      }

      &.hover3 {
        opacity: 1;
        color: #df2380;
        clip-path: inset(0vh 0vw 0vh 0vw);
        top: -5vh;
      }
    }
  }

  /*START LINES CSS*/

  &-basicLine {
    /*Top full bar*/
    &1 {
      height: .1vw;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 30vh;

      clip-path: inset(0vh 100vw 0vh 0vw);
      animation: initialLine1 1.5s ease 1.5s;
      animation-fill-mode: forwards;

      @keyframes initialLine1 {
        0% {
          clip-path: inset(0vh 100vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Bottom full bar*/
    &2 {
      height: .1vw;
      width: 100%;
      background-color: black;
      position: absolute;
      top: calc(30vh + 22.65vw);
      top: -webkit-calc(30vh + 22.65vw);
      top: -moz-calc(30vh + 22.65vw);

      clip-path: inset(0vh 100vw 0vh 0vw);
      animation: initialLine2 1.5s ease 1.9s;
      animation-fill-mode: forwards;

      @keyframes initialLine2 {
        0% {
          clip-path: inset(0vh 100vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Left full bar*/
    &3 {
      height: 100%;
      width: .1vw;
      background-color: black;
      position: absolute;
      top: 0vw;
      left: 15vw;

      clip-path: inset(0vh 0vw 100vh 0vw);
      animation: initialLine3 1.5s ease 1.4s;
      animation-fill-mode: forwards;

      @keyframes initialLine3 {
        0% {
          clip-path: inset(0vh 0vw 100vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Right full bar*/
    &4 {
      height: 100%;
      width: .1vw;
      background-color: black;
      position: absolute;
      top: 0vw;
      left: 85vw;

      clip-path: inset(100vh 0vw 0vh 0vw);
      animation: initialLine4 1.5s ease 2.3s;
      animation-fill-mode: forwards;

      @keyframes initialLine4 {
        0% {
          clip-path: inset(100vh 0vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Below bottom full bar*/
    &5 {
      height: .1vw;
      width: 100%;
      background-color: black;
      position: absolute;
      top: calc(30vh + 24vw);
      top: -webkit-calc(30vh + 24vw);
      top: -moz-calc(30vh + 24vw);

      clip-path: inset(0vh 100vw 0vh 0vw);
      animation: initialLine5 1.5s ease 2.1s;
      animation-fill-mode: forwards;

      @keyframes initialLine5 {
        0% {
          clip-path: inset(0vh 100vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Right of right full bar*/
    &6 {
      height: 100%;
      width: .05vw;
      background-color: black;
      position: absolute;
      top: 0vw;
      left: 86.35vw;

      clip-path: inset(0vh 0vw 100vh 0vw);
      animation: initialLine6 1.5s ease 2.1s;
      animation-fill-mode: forwards;

      @keyframes initialLine6 {
        0% {
          clip-path: inset(0vh 0vw 100vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Above top partial bar*/
    &7 {
      height: .1vw;
      width: 10vw;
      background-color: black;
      position: absolute;
      top: calc(30vh - 1.65vw);
      top: -webkit-calc(30vh - 1.65vw);
      top: -moz-calc(30vh - 1.65vw);
      left: 81vw;

      clip-path: inset(0vh 100vw 0vh 0vw);
      animation: initialLine7 0.75s ease 2.5s;
      animation-fill-mode: forwards;

      @keyframes initialLine7 {
        0% {
          clip-path: inset(0vh 100vw 0vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Left top partial bar*/
    &8 {
      height: 10vh;
      width: .1vw;
      background-color: black;
      position: absolute;
      top: 25vh;
      left: 13.35vw;

      clip-path: inset(0vh 0vw 100vh 0vw);
      animation: initialLine8 0.75s ease 2.1s;
      animation-fill-mode: forwards;

      @keyframes initialLine8 {
        0% {
          clip-path: inset(0vh 0vw 100vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }

    /*Left bottom partial bar*/
    &9 {
      height: 15vh;
      width: .1vw;
      background-color: black;
      position: absolute;
      top: calc(30vh + 17vw);
      top: -webkit-calc(30vh + 17vw);
      top: -moz-calc(30vh + 17vw);
      left: 13.35vw;

      clip-path: inset(0vh 0vw 100vh 0vw);
      animation: initialLine9 0.75s ease 2.5s;
      animation-fill-mode: forwards;

      @keyframes initialLine9 {
        0% {
          clip-path: inset(0vh 0vw 100vh 0vw);
        }

        100% {
          clip-path: inset(0vh 0vw 0vh 0vw);
        }
      }
    }
  }

  /*END LINES CSS*/
}
